<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE manifest [
    <!ENTITY CATEGORY_NAME "org.afree.chart.demo">
]>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.afree" 
      android:versionCode="1"
      android:versionName="1.0">

    <application android:icon="@drawable/icon" android:label="@string/app_name"
        android:debuggable="true">
        <uses-library android:name="android.test.runner" />
    </application>
    
    <uses-sdk android:minSdkVersion="7" />
    <instrumentation android:targetPackage="org.afree" android:name="android.test.InstrumentationTestRunner" />
    
</manifest> 
