<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE manifest [
    <!ENTITY CATEGORY_NAME "org.afree.chart.demo">
]>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.afree.chart"
      android:versionCode="1"
      android:versionName="1.0">

    <application android:icon="@drawable/icon" android:label="@string/app_name"
        android:debuggable="true">
        <uses-library android:name="android.test.runner" />
        <!-- Demo activity -->
        <activity android:name=".demo.ChartHierarchyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demo.activity.AnnotationDemo01Activity"
            android:label="Annotation Demo 01"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.BarChartDemo01Activity"
            android:label="Bar Chart Demo 01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.SlidingCategoryPlotDemo01Activity"
            android:label="Sliding Chart Demo 01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.SlidingCategoryPlotDemo02Activity"
            android:label="Sliding Chart Demo 02">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.CandleStickChartDemo03Activity"
            android:label="Candle Stick Chart Demo 03"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.DeviationRendererDemo02Activity"
            android:label="Deviation Renderer Demo 02"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.MarkerDemo01Activity"
            android:label="Marker Demo 01"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.OverlaidXYPlotDemo02Activity"
            android:label="Overlaid XY Plot Demo 02"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.PieChartDemo01Activity"
            android:label="Pie Chart Demo 01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.ScatterPlotDemo03Activity"
            android:label="Scatter Plot Demo 03"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.activity.TimeSeriesChartDemo01Activity"
            android:label="Time Series Demo 01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="&CATEGORY_NAME;" />
            </intent-filter>
        </activity>
    </application>
    
    <uses-sdk android:minSdkVersion="7" />
    <instrumentation android:targetPackage="org.afree.chart" android:name="android.test.InstrumentationTestRunner" />
    
</manifest> 